.project-section {
  background-color: #141414;
}

.project-sec-hero {
  padding: 6rem 1.5rem;
  margin: 0 auto;
}

.project-title {
  margin-bottom: 50px;
}

.project-title h2 {
  font-size: 3.5rem;
  color: #d8d8d8;
  margin-bottom: 20px;
  text-align: center;
}

.project-title p {
  margin: 0 auto;
  color: #929292;
  font-size: 2.3rem;
  width: 700px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

.projects-sec {
  padding: 0.5rem 0;
}

.pro-sec-items {
  margin: 0 auto;
  max-width: 1200px;
  column-gap: 3rem;
  color: white;
  column-count: 2;
}

.pro-item {
  padding: 1.5rem 0;
  height: 650px;
  max-width: 560px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 0.4px solid rgba(83, 83, 83, 0.4);
  margin-bottom: 5rem;
  /* visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s; */
  transition: all 0.5s;
}

.pro__item-extra {
  padding: 1.5rem 0;
  height: 650px;
  max-width: 560px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 0.4px solid rgba(83, 83, 83, 0.4);
  margin-bottom: 5rem;
}

.pro-item:hover,
.pro-item:active {
  transition: all 0.4s ease-in;
  transform-style: flat;
  transform: perspective(450px) translate3d(0, 0, 15px);
  transition: all 0.5s;
}

.pro-item a {
  text-decoration: none;
  color: white;
}

.pro-item--a {
  padding: 20px 30px;
  height: 650px;
}

.pro-item--1 {
  background: rgb(255, 220, 22);
}

.pro-item--1 a {
  color: #141414;
}

.item-title h3 {
  font-size: 1.5rem;
  color: #e2e2e2;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.item-title .paragraph {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0;
  font-weight: 400;
}

.item-title .special-1 {
  color: rgba(104, 104, 104, 0.5);
}

.item-title p {
  font-size: 3.3rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.3;
}

.item-title .special-2 {
  color: #242424;
}

picture .picture-img-1 {
  /* margin-left: 100px; */
  position: relative;
  left: 70px;
  top: 90px;
}

picture .picture-img-2 {
  position: relative;
  top: -280px;
  /* z-index: 100; */
}

/* ---------------- */
.pro-item--2 {
  background: rgb(112, 191, 197);
}

.picture-img-4 {
  position: relative;
  top: -280px;
  left: 160px;
  /* z-index: 100; */
}
.item-title-2 {
  position: absolute;
  width: 386px;
  top: auto;
  bottom: 0;
  padding-bottom: 30px;
  text-align: left;
}
/* ----------- */
.pro-item--3 {
  background: rgb(59, 54, 131);
}

.item-title-3 {
  position: absolute;
  top: auto;
  bottom: 0;
  padding-bottom: 30px;
  text-align: left;
}

.picture-iamge-5 {
  position: absolute;
  left: -290px;
  top: -50px;
}

/* --------pro-4------ */

.pro-item--4 {
  background: rgba(102, 102, 102, 0.4);
}

.project__text {
  padding: 20px 30px;
}

.item--title {
  margin-bottom: 40px;
}

.item-title .paragraph {
  margin: 0 auto;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.7;
}
.item-title .spacial-para1 {
  width: 85%;
}

.item-title .spacial-para2 {
  width: 90%;
}

.ceo-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ceo-information img {
  height: 50px;
}

.ceo-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.ceo-details p {
  font-size: 1.5rem;
  width: 80%;
  color: #9c9c9c;
  font-weight: 500;
}

.ceo-details .second-ceo {
  width: 100%;
}

.pro-item--4 {
  height: 300px;
}

.pro-item--41 {
  height: 430px;
}

/* --------pro item 5 ---------- */

.pro-item--5 {
  background: rgb(233, 132, 17);
}

.picture-iamge-6 {
  position: absolute;
  right: -60px;
  rotate: 5deg;
  z-index: 80;
}

.picture-iamge-7 {
  position: absolute;
  top: auto;
  bottom: -10px;
  left: 50px;
}

/* --------pro item 6 ---------- */

.pro-item--6 {
  background: rgb(62, 170, 62);
}

.picture-iamge-8 {
  position: absolute;
  top: 240px;
  left: 100px;
}

.picture-iamge-9 {
  position: absolute;
  z-index: 80;
  top: auto;
  bottom: 40px;
  left: 50px;
}

/* ---------------------------- */

.pro-item--7 {
  background: rgb(10, 10, 10);
}

.picture-iamge-10 {
  position: absolute;
  top: 300px;
  left: -60px;
}

.picture-iamge-11 {
  position: absolute;
  top: 220px;
  left: 240px;
}
