.nav-sec__main {
  background-color: rgba(41, 41, 41, 0.7);
  min-height: 80px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(3px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 -1px 0 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav-sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-icon__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.nav-icon__link img {
  height: 35px;
}

.nav-icon__link span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-left: 1rem;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-item {
  transition: all 0.3s;
}

.nav-item:hover {
  transform: translateY(-3px);
}

.nav-item a {
  color: rgb(172, 172, 172);
  text-decoration: none;
  font-size: 1.9rem;
  padding: 2.2rem;
  font-weight: 500;
  transition: all 0.2s;
}

.nav-item a:hover,
.nav-item a:active {
  color: rgb(245, 245, 245);
}
